@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
    background-color: #1e1e1e; /* Dark background color */
    color: #ffffff; /* White text color */
    /* Add more dark mode styles here */
}
.dark ul#menu li a {
    color: white; /* Change menu text color to white in dark mode */
  }